body {
  font-family: Arial, sans-serif;
}

#tree-container {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.tree-container {
  touch-action: none;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 2px;
}

.node text {
  font-size: 12px;
  text-anchor: middle;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

#popup {
  position: absolute;
  background: #fff;
  border: 1px solid #ccc;
  padding: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  max-width: 250px;
  font-size: 13px;
  z-index: 1000;
}

.hidden {
  display: none;
}

#popup h3 {
  margin: 0 0 6px 0;
  font-size: 16px;
}

#popup .meta {
  color: #555;
  margin-bottom: 6px;
}

#popup img {
  width: 100%;
  max-height: 180px;
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: 8px;
  background: #f2f2f2;
}

.node image {
  pointer-events: none;
}

#search-container {
    position: relative;
    overflow: visible;
    top: 12px;
    left: 50%;
    transform: translateX(-50%);
    width: min(90%, 420px);
    z-index: 1000;
}

#search-input {
    width: 100%;
    padding: 10px 12px;
    font-size: 16px;
}

#search-results {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1000;

    background: white;
    border-radius: 8px;
    margin-top: 4px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.15);

    max-height: 300px;
    overflow-y: auto;
}

.search-result {
    display: flex;
    align-items: center;
    gap: 10px;

    padding: 10px 12px;
    cursor: pointer;
}

.search-result img {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 4px;
}

.search-result:hover {
    background: #f2f2f2;
}

.highlighted {
    outline: 3px solid #4da3ff;
    outline-offset: 4px;
}

#clear-search-btn {
  position: absolute;
  right: -28px;
  top: 50%;
  transform: translateY(-50%);
  background: red;
  border: 2px solid;
  font-size: 27px;
  cursor: pointer;
  display: none;
  opacity: 0.75;
}

#clear-search-btn:hover {
  opacity: 1;
}